PruebaJava/WebContent/wsdl/RegistroWSDLSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.registro/RegistroWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistroWSDL" targetNamespace="http://com.registro/RegistroWSDL/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.registro/RegistroWSDL/">
      <xsd:element name="RegistroRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="canal" type="xsd:string"/>
            <xsd:element name="codigotrs" type="xsd:string"/>
            <xsd:element name="date" type="xsd:string"/>
            <xsd:element name="idservice" type="xsd:string"/>
            <xsd:element name="vrs" type="xsd:string"/>
            <xsd:element name="date" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="rol" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegistroResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="mensaje" type="xsd:string"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="pasword" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegistroRequest">
    <wsdl:part element="tns:RegistroRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RegistroResponse">
    <wsdl:part element="tns:RegistroResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="RegistroWSDL">
    <wsdl:operation name="Registro">
      <wsdl:input message="tns:RegistroRequest"/>
      <wsdl:output message="tns:RegistroResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistroWSDLSOAP" type="tns:RegistroWSDL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Registro">
      <soap:operation soapAction="http://localhost:8080/RegistroWSDL/Registro"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistroWSDL">
    <wsdl:port binding="tns:RegistroWSDLSOAP" name="RegistroWSDLSOAP">
      <soap:address location="http://localhost:9763/PruebaJava/services/RegistroWSDLSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
